body {
  background-color: #C4C1C1;
}
      @font-face { font-family: papyrus; src: url('fonts/papyrus.ttf'); } 
      .papyrus {
         font-family: papyrus
      }
p, h1, div, th, table, ul, li {
  text-align: center;
}
      @font-face { font-family: mojangles; src: url('fonts/mojangles.ttf'); } 
      .mojangles {
         font-family: mojangles
      }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.centernews {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:700px;
}
.audiotable {
  display: block;
  margin-left: auto;
  margin-right: auto;
width: 41%;
}
 .old_table {
  border: 1px solid white;
  border-collapse: collapse;
}
.header {
  padding: 60px;
  text-align: center;
  background: #929292;
  color: white;
  font-size: 30px;
}
body {
  font-family: Arial;
  margin: 0;
}
.content {padding:20px;}
.left {
  position: absolute;
  left: 0px;
  width: 300px;
}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
}
.lefta {
  position: absolute;
  left: 355px;
  width: 350px;
}
.righta {
  position: absolute;
  right: 355px;
  width: 350px;
}
p.border {
	border-style: solid;
}
.dashed-border {
	border-style: dashed;
	max-width: 560px;
	  margin-left: auto;
  margin-right: auto;
}
.img250 {
  height: 250px;
  width: 250px;
}	
img.saobrimg {
  max-width: 550px;
  max-height: 300px;
}
a.a1:link, a.a1:visited {
  background-color: #585858;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.a1:hover, a.a1:active {
  background-color: #BDBDBD;
}
a.a2:link, a.a2:visited {
  background-color: #010029;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.a2:hover, a.a2:active {
  background-color: #00A1FF;
}
.vidleft {
  position: absolute;
  left: 155px;
  width: 520px;
}
.vidright {
  position: absolute;
  right: 155px;
  width: 520px;
}
.truecenter {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
/**this is gallery normal**/
a.a3:link, a.a3:visited {
  background-color: #010029;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 220px;
  width: 470px;
}

a.a3:hover, a.a3:active {
  background-color: #00A1FF;
}
/**this is gallery ads**/
a.a4:link, a.a4:visited {
  background-color: #010029;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 200px;
  width: 970px;
}

a.a4:hover, a.a4:active {
  background-color: #00A1FF;
}
/**this is links page**/
a.a5:link, a.a5:visited {
  background-color: #010029;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 350px;
  width: 420px;
}

a.a5:hover, a.a5:active {
  background-color: #00A1FF;
}
/**this is the old emulated systems links may be used in shop now**/
a.a6:link, a.a6:visited {
  background-color: #010029;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 250px;
  width: 250px;
}

a.a6:hover, a.a6:active {
  background-color: #00A1FF;
}
/**shop link**/
a.a7:link, a.a7:visited {
  background-color: #B40658;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.a7:hover, a.a7:active {
  background-color: #00FFE6;
}
/**this is the old emulated systems links may be used in shop now**/
a.a8:link, a.a8:visited {
  background-color: #010029;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 270px;
  width: 250px;
}

a.a8:hover, a.a8:active {
  background-color: #00A1FF;
}
/**fonts download**/
a.a9:link, a.a9:visited {
  background-color: #010029;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 80px;
  width: 500px;
}

a.a9:hover, a.a9:active {
  background-color: #00A1FF;
}
/**seasonal link**/
a.a10:link, a.a10:visited {
  background-color: #BD0059;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: outline-block;
  text-decoration: overline;
}

a.a10:hover, a.a10:active {
  background-color: #0582F3;
}
/**This is fake virus stuff**/
/**just give an item the "virus_a" class**/
.virus_a {
 position: relative;
 animation-name: example;
 animation-duration: .0001s;
 animation-iteration-count: infinite;
}
@keyframes example {
 0% { left:0px; top:0px;}
 25% { left:200px; top:0px;}
 100% { left:0px; top:0px;}
 50% { left:200px; top:200px;}
 75% { left:0px; top:200px;}
 0% { left:0px; top:0px;}
 25% { left:20px; top:0px;}
 100% {left:60px; top:0px;}
 50% { left:200px; top:200px;}
 75% {left:0px; top:50px;}
}
/**hey you. yeah you. GET OUT OF MY CSS! this here is priiiivate property!**/
/**this is for an ad on the scam I MEAN SHOP page**/
.shop_ad {
 position: relative;
 animation-name: shop_ad;
 animation-duration: 1s;
 animation-iteration-count: infinite;
}
@keyframes shop_ad {
 0% { left:0px; top:0px;}
 25% { left:-50px; top:60px;}
 50% { left:-100px; top:120px;}
 25% { left:-50px; top:60px;}
 100% { left:0px; top:0px;}
}

/**normal items on shop page**/
.shopitem {
 position: relative;
 animation-name: shopitem;
 animation-duration: 4s;
 animation-iteration-count: infinite;
}
@keyframes shopitem {
 0% { left:0px; top:0px;}
 10% { left:50px; top:20px;}
 20% { left:100px; top:40px;}
 30% { left:150px; top:60px;}
 40% { left:200px; top:80px;}
 50% { left:250px; top:100px;}
 60% { left:200px; top:80px;}
 70% { left:150px; top:60px;}
 80% { left:100px; top:40px;}
 90% { left:50px; top:20px;}
100% { left:0px; top:0px;}
  
}
.sans {
 position: relative;
 animation-name: sans;
 animation-duration: 3s;
 animation-iteration-count: infinite;
}
@keyframes sans {
 0% { left:200px; top:0px;}
 25% { left:0px; top:0px;}
 50% { left:-200px; top:0px;}
 75% { left:0px; top:0px;}
 100% { left:200px; top:0px;}
 }
